<header>
  <div id="topPanel">
    <div class="wrapper">
      <span class="blogName">F l u o</span>
      <span class="tagline">The blurry IT blog</span>
    </div>
  </div>
  <div id="menu">
    <a href="#">Home</a>
    <a *ngFor="let category of categories" href="#/category/{{category.urlTitle}}">{{category.title}}</a>
  </div>
</header>
<div id="page" class="wrapper">
  <content>
    <router-outlet></router-outlet>
  </content>
  <aside>
    <section>
      <div class="title">Most popular</div>
      <div class="content">
        <li>Spot</li>
      </div>
    </section>
    <section>
      <div class="title">Section 2</div>
      <div class="content">
        <li>Spot</li>
      </div>
    </section>
  </aside>
</div>
<footer></footer>
